<h1>Semester Project for Decision Systems 2020/2021 (University of Warsaw)<h1>
    <h2>Joanna Kęczkowska<h2>

The goal of the competition is to create an efficient model for predicting whether the total 14-days sales of a particular product, offered by the Fitfood company at one of their FitBoxy locations in Poland, will exceed four pieces.

Provided data describe a short-term sales history of products at various point of sales (PoS). The target attribute will_it_sell tells if in the following 14 day period the total sales of a given product at a particular location will be at least 4 pcs. 

The data tables are provided as two CSV files with the ';' separator sign.

<h3>Data preparation<h3>

In [1]:
import pandas as pd

In [2]:
dataSet = pd.read_csv("FitFood_competition_data_training.csv", sep=';')
dataSet.shape

(531824, 97)

In [3]:
dataSet.describe()

,will_it_sell,product_id_unified,partner_product,cooking_mv,cooking_ov,vat,bialko_100,weglow_100,cukry_calk,tluszcz_nasyc_calk,...,avg_total_to_discount_lag1,avg_total_base_lag1,avg_sum_fv_lag1,avg_transaction_discount_count_lag1,roc1_lag1,rocPeriod_lag1,days_since_prev_delivery,sales_since_prev_delivery,available_products,is_delivery_day
count,531824.000000,531824.000000,531824.000000,231884.0,231884.0,531824.000000,496291.00000,496290.000000,496202.000000,496202.000000,...,5.288900e+05,528890.000000,528890.0,528890.000000,528890.000000,528890.000000,474094.000000,474094.000000,476634.000000,531823.000000
mean,0.119477,1104.984531,0.091600,1.0,1.0,6.628563,7.47106,19.206512,8.332242,3.861230,...,7.927875e-01,3.106582,0.0,0.098661,-0.001819,-0.008464,16.806237,0.351909,1.197972,0.118019
std,0.324350,55.861218,0.288461,0.0,0.0,4.417655,6.73606,15.012734,7.248779,3.268845,...,3.095363e+00,6.165410,0.0,0.292494,0.237530,0.622241,30.601578,1.024078,3.569655,0.322630
min,0.000000,1004.000000,0.000000,1.0,1.0,5.000000,0.00000,2.700000,0.200000,0.000000,...,-1.421085e-13,0.000000,0.0,0.000000,-2.772589,-3.465736,1.000000,0.000000,-24.000000,0.000000
25%,0.000000,1057.000000,0.000000,1.0,1.0,5.000000,3.20000,9.200000,3.000000,1.500000,...,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
50%,0.000000,1117.000000,0.000000,1.0,1.0,5.000000,6.80000,13.000000,5.900000,3.000000,...,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000
75%,0.000000,1152.000000,0.000000,1.0,1.0,5.000000,8.90000,23.400000,12.600000,5.100000,...,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,9.000000,0.000000,2.000000,0.000000
max,1.000000,1193.000000,1.000000,1.0,1.0,23.000000,38.00000,61.300000,29.500000,14.300000,...,6.965000e+01,187.840000,0.0,3.000000,2.772589,3.465736,256.000000,31.000000,601.000000,1.000000

In [4]:
dataSet.head()

,will_it_sell,pos_id,product_id_unified,company_id,category_id,category_name,product_name,partner_product,address_city,diet,...,avg_total_to_discount_lag1,avg_total_base_lag1,avg_sum_fv_lag1,avg_transaction_discount_count_lag1,roc1_lag1,rocPeriod_lag1,days_since_prev_delivery,sales_since_prev_delivery,available_products,is_delivery_day
0,1,5cd2c7b75314a576b410fb6f,1146,5cc01f99def57b4350f57e6f,59005cd6c5c79d3575eb450d,Przekąski,"Superfood SPORT - banan, białko",1,Wrocław,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,1.0
1,0,5b291c490663ab48e334abce,1136,5b9fa5e201f82e03b412bcff,5a0033206cdc0d08a6591bfb,Dania Lunch Małe,Szaszłyk z ryżem w kurkumie,0,Kraków,Dieta Samuraja,...,13.99,13.99,0.0,1.0,0.0,1.609438,NaN,NaN,NaN,0.0
2,0,5b1bb68ecaef965005d0e938,1051,5b1f8a17caef965005d12d7e,5abe0aed049e180557e22330,Sałatki,FitSalad - Sałatka z kurczakiem i grillowanymi...,0,Warszawa,--,...,0.00,0.00,0.0,0.0,0.0,0.000000,71.0,0.0,0.0,0.0
3,0,5cdbd1ba9083f77a4476ff58,1069,5d14ae03ad08444d3ee1eecd,5cd1a4d32b10792bc08dab31,Pan Pomidor - Pierogi,Pierogi ruskie,0,Wrocław,NaN,...,0.00,0.00,0.0,0.0,0.0,0.000000,2.0,0.0,0.0,0.0
4,0,5c1232411462a123065f3b58,1135,5beada3478729f2c8afeeb90,5a0033206cdc0d08a6591bfb,Dania Lunch Małe,Pikantny ryż jaśminowy smażony z jajkiem,0,Katowice,Dieta Samuraja,...,0.00,0.00,0.0,0.0,0.0,0.000000,NaN,NaN,NaN,0.0

In [6]:
import numpy as np

#Getting categorical data
df_cat = dataSet.loc[:,dataSet.dtypes==np.object]
#Getting Numeric data
df_num = dataSet.loc[:,dataSet.dtypes!=np.object]

dataSet.info()

y = dataSet.pop('will_it_sell')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531824 entries, 0 to 531823
Data columns (total 97 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   will_it_sell                         531824 non-null  int64
 1   pos_id                               531824 non-null  object
 2   product_id_unified                   531824 non-null  int64
 3   company_id                           531824 non-null  object
 4   category_id                          531824 non-null  object
 5   category_name                        531824 non-null  object
 6   product_name                         531824 non-null  object
 7   partner_product                      531824 non-null  int64
 8   address_city                         531824 non-null  object
 9   diet                                 282103 non-null  object
 10  size                                 531824 non-null  object
 11  cooking_time                         360554 non-null  object
 12  cooking_mv                           231884 non-null  float64
 13  cooking_ov                           231884 non-null  float64
 14  storage_temp                         390272 non-null  object
 15  vat                                  531824 non-null  int64
 16  bialko_100                           496291 non-null  float64
 17  weglow_100                           496290 non-null  float64
 18  cukry_calk                           496202 non-null  float64
 19  tluszcz_nasyc_calk                   496202 non-null  float64
 20  energia_calk                         496290 non-null  float64
 21  energia_100                          496290 non-null  float64
 22  tluszcz_nasyc_100                    496202 non-null  float64
 23  blonnik_100                          403780 non-null  float64
 24  tluszcz_calk                         496290 non-null  float64
 25  bialko_calk                          496290 non-null  float64
 26  sol_100                              496202 non-null  float64
 27  weglow_calk                          496290 non-null  float64
 28  blonnik_calk                         403780 non-null  float64
 29  tluszcz_100                          496290 non-null  float64
 30  cukry_100                            496202 non-null  float64
 31  sol_calk                             496202 non-null  float64
 32  weekday                              531823 non-null  object
 33  quarter                              531823 non-null  object
 34  month                                531823 non-null  float64
 35  week                                 531823 non-null  float64
 36  qty_lag1                             528890 non-null  float64
 37  qty_lag2                             525973 non-null  float64
 38  qty_lag3                             523085 non-null  float64
 39  qty_lag4                             520232 non-null  float64
 40  qty_lag5                             517316 non-null  float64
 41  qty_lag6                             514381 non-null  float64
 42  qty_lag7                             511471 non-null  float64
 43  qty_lag8                             508593 non-null  float64
 44  qty_lag9                             505624 non-null  float64
 45  qty_lag10                            502750 non-null  float64
 46  qty_lag11                            499915 non-null  float64
 47  qty_lag12                            497116 non-null  float64
 48  qty_lag13                            494284 non-null  float64
 49  qty_lag14                            491433 non-null  float64
 50  meanLastPeriod_lag1                  511471 non-null  float64
 51  meanLastPeriod_lag2                  508593 non-null  float64
 52  meanLastPeriod_lag3                  505624 non-null  float64
 53  meanLastPeriod_lag4                  502750 non-null  float64
 54  meanLastPeriod_lag5                  499915 non-null  float64
 55  meanLastPeriod_lag6                  497116 non-null  float64
 56  meanLastPeriod_lag7                  494284 non-null  float64
 57  meanLastPeriod_lag1_lag7_diff        494284 non-null  float64
 58  sdLastPeriod_lag1                    511471 non-null  float64
 59  sdLastPeriod_lag2                    508593 non-null  float64
 60  sdLastPeriod_lag3                    505624 non-null  float64
 61  sdLastPeriod_lag4                    502750 non-null  float64
 62  sdLastPeriod_lag5                    499915 non-null  float64
 63  sdLastPeriod_lag6                    497116 non-null  float64
 64  sdLastPeriod_lag7                    494284 non-null  float64
 65  minLastPeriod_lag1                   511471 non-null  float64
 66  minLastPeriod_lag7                   494284 non-null  float64
 67  minLastPeriod_lag1_lag7_diff         494284 non-null  float64
 68  maxLastPeriod_lag1                   511471 non-null  float64
 69  maxLastPeriod_lag7                   494284 non-null  float64
 70  maxLastPeriod_lag1_lag7_diff         494284 non-null  float64
 71  diff1_lag1                           525973 non-null  float64
 72  diff1_lag7                           508593 non-null  float64
 73  diff1_lag1_lag7_diff                 508593 non-null  float64
 74  diffLagPeriod_lag1                   508593 non-null  float64
 75  diffLagPeriod_lag7                   491433 non-null  float64
 76  diffLagPeriod_lag1_lag7_diff         491433 non-null  float64
 77  mean_diff1_lag1                      508593 non-null  float64
 78  mean_diff1_lag7                      491433 non-null  float64
 79  mean_diff1_lag1_lag7_diff            491433 non-null  float64
 80  sum_qty                              514381 non-null  float64
 81  avg_discount_mean_value_lag1         528890 non-null  float64
 82  avg_discount_count_lag1              528890 non-null  float64
 83  avg_from_blik_lag1                   528890 non-null  float64
 84  avg_from_paypass_lag1                528890 non-null  float64
 85  avg_from_payu_lag1                   528890 non-null  float64
 86  avg_total_lag1                       528890 non-null  float64
 87  avg_total_to_discount_lag1           528890 non-null  float64
 88  avg_total_base_lag1                  528890 non-null  float64
 89  avg_sum_fv_lag1                      528890 non-null  float64
 90  avg_transaction_discount_count_lag1  528890 non-null  float64
 91  roc1_lag1                            528890 non-null  float64
 92  rocPeriod_lag1                       528890 non-null  float64
 93  days_since_prev_delivery             474094 non-null  float64
 94  sales_since_prev_delivery            474094 non-null  float64
 95  available_products                   476634 non-null  float64
 96  is_delivery_day                      531823 non-null  float64
dtypes: float64(81), int64(4), object(12)
memory usage: 393.6+ MB

**Note:** Features must be numeric with meaningful magnitude. We will cover this later.\
Now we need to split -dataSet- to training set and testing set.  If we want to (approximately) keep the proportion of y values through the training and test sets, then we need to pass stratify=y. This will enable stratified splitting:

In [10]:
from sklearn.model_selection import train_test_split

#X_train - dataset for training and tuning hyperparameters, X_test - dataset for evaluating our model
X_train, X_test, y_train, y_test = train_test_split(dataSet, y, test_size=0.2, random_state=42, stratify=y) 
#data was split in a stratified fashion